body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #248bf1;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.container {
    padding: 30px;
}

.form-card {
    background: white;
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-card input,
.form-card textarea {
    width: 93%;
    margin: 10px 0;
    padding: 10px;
}

.form-card button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.actions {
    margin-top: 15px;
}

.btn {
    padding: 8px 12px;
    background: #07035e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.apply {
    background: #248bf1;
}

.profile-card {
    max-width: 650px;
}

.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}

.checkbox-grid label {
    background: #f3f4f6;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.checkbox-grid input {
    margin-right: 8px;
}

select {
    width: 100%;
    padding: 10px;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

